.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 0 16px;
  }
}
