.header {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.header__logo {
  max-width: 254px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 0 16px;
  }

  .header__logo {
    max-width: 188px;
  }
}
