.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 148px 24px;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 768px;
    padding: 30px 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .page {
    max-width: 320px;
    padding: 20px 0 24px;
  }
}
