.places {
  margin-bottom: 90px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  padding: 0 148px;
}

.place__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.place__url-heading {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
}

.place__artist {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}

.place__img {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px #000;
}

.place__img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.place__paragraphs {
  grid-column: 2/3;
  grid-row: 2/5;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0 0 25px 0;
}

.place__button {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 13px 20px;
  max-width: 290px;
  align-self: self-start;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #000;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 28px;
    padding: 0 24px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    margin-bottom: 65px;
  }

  .place {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 0;
    margin-bottom: 50px;
  }

  .place__title,
  .place__website,
  .place__img,
  .place__paragraphs,
  .place__button {
    grid-column: 1;
    grid-row: auto;
  }

  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 1.1;
  }

  .place__website {
    align-self: start;
    margin: 0 16px;
  }

  .place__paragraph {
    margin: 0 16px 25px;
  }

  .place__button {
    margin: 0 16px;
    padding: 16px 46px;
    font-size: 14px;
  }
}
